{% extends 'base.html' %}

{% block content %}


<main class="card container mt-4 mb-4 pt-4">
    <h1 class="text-center">Bienvenido a casa{%if username %}, {{username}}{% endif %}</h1>

    <dl class="row">
        {% if username %}
        <dt class="col-sm-3">Usuario</dt>
        <dd class="col-sm-9">{{username}}</dd>
        {% endif %}
        
        {%if user_data %}
        {% for key, value in user_data.items() %}
        <dt class="col-sm-3">{{key}}</dt>
        <dd class="col-sm-9">{{value}}</dd>
        {% endfor %}
        {% endif %}

        <dt class="col-sm-3">Token de acceso</dt>
        <dd class="col-sm-9"><code>{{access_token}}</code></dd>
</main>

{% endblock %}
